---
---

@charset "utf-8";
$white: #fff;
$gray: rgba(200, 200, 200, 1);
$gray-transparent: rgba(200, 200, 200, 0.75);
$black-transparent: rgba(0, 0, 0, 0.85);
$blue: rgba(31, 99, 158, 1.0);

header {
  nav {
    min-height: auto !important;
    height: auto;
    ul {
      margin-bottom: 0px !important;
      li {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: -10px;
        a {
          background-color: $black-transparent !important;
        }
        #brand {
          color: $gray !important;
        }
        a.page-link:hover, a.navbar-brand:active {
          color: $blue !important;
        }
      }
    }
  }
}

.banner {
  height: 100vh;
  padding-top: 10vh;
  background: url('../assets/images/index/unsplash-skyline-bk.jpg')no-repeat center bottom fixed $white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  div.jumbotron {
    padding-bottom: 14px;
    background: rgba(0, 0, 50, 0.2);
    top: 50%;
    left: 50%;
  }
}

.page-content {
  background: $white;

  .jumbotron {
    margin-bottom: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    article {
      min-height: 100vh;
    }
  }

  #dev {
    background: url('../assets/images/index/unsplash-IMG_4893.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .content {
      padding: 5vh;
      background: rgba(255, 255, 255, 0.25);
    }
  }

  #dreamer {
    background: url('../assets/images/index/unsplash-photo-bench.jpg')no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .content {
      padding: 5vh;
      background: rgba(255, 255, 255, 0.15);
      h1 {
        color: $white;
        border-radius: 0.25em;
        text-align: center;
        padding: 0.25em;
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  #backpacker {
    background: url('../assets/images/index/unsplash-20140717_212636-3-bk.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .content {
      padding: 5vh;
      background: rgba(255, 255, 255, 0.45);
      font-variant: small-caps;
    }
  }

  #storyteller {
    background: url('../assets/images/index/unsplash-typewriter-bk.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .content dl {
      background: rgba(200, 200, 44, 0.75);
      a { color: $blue; }
      a:hover, a:focus { color: lighten($blue, 33.6%); }
      dd {
        font-weight: bolder;
        font-variant: small-caps;
      }
    }
  }

  #up {
    height: 100vh;
    position: relative;
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
  }

}

.icon {
    > svg {
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }
}

.icon--fly-object {
  position: fixed;
  z-index: 99;
  top: 10px;

  #ufo {
    vertical-align: baseline;
    width: 30vw;
    height: 30vh;
    fill: $black-transparent;
    enable-background:new 0 0 338.211 338.211;
  }

}

.icon-static-object {
  position: absolute;
  right: 10%;
  top: 15%;

  #plane {
    vertical-align: baseline;
    width: 200px;
    height: 100px;
    fill: $black-transparent;
    transform: rotate(45deg) scale(1.75);
    enable-background:new 0 0 45.751 45.75;
  }
}

#svg-path {
  position: absolute;
  top: -10000px;
  left: -10000px;
  #path-scribble {
    fill:none;
    stroke:#ff0000;
    stroke-width:4;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
  }
}

.overlay {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  text-align: center;
  div .jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

@import "bootstrap";
