---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.banner {
  height: 95vh;
  .jumbotron {
    background: white;
    height: 95vh;
  }
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
