---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$white: #fff;
$gray-transparent: rgba(200, 200, 200, 0.75);
$black-transparent: rgba(0, 0, 0, 0.65);

body { padding-bottom: 70px; }

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.banner {
  height: 100vh;
  background: $white;
  .content {
    h1 {
      font-weight: 800;
    }
  }

  svg {
    display: block;
    height: 25vh;
    margin: auto;
    margin-top: 4vh;
    vertical-align: middle;
    transform: scale(10);
    fill: $black-transparent;
  }
}


.page-content {
  background: $white;
  margin-top: 10px;

}

.icon {
    > svg {
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }
}

.icon--fly-object {
  position: fixed;
  z-index: 99;
  left: 70%;
  top: 10%;

  > svg {
    vertical-align: baseline;
    width: 35vw;
    height: 35vh;
    fill: $gray-transparent;
  }
}

.icon-static-object {
  position: absolute;
  z-index: 99;
  right: 5%;
  top: 10%;

  > svg {
    vertical-align: baseline;
    width: 30vw;
    height: 30vh;
    fill: $gray-transparent;
    transform: rotate(45deg);
  }
}

#svg-path {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
