---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$white: #fff;
$gray-transparent: rgba(200, 200, 200, 0.75);
$black-transparent: rgba(0, 0, 0, 0.65);
$background-black: #222;

body { padding-bottom: 70px; }

.page-content {
  margin-top: 10px;
  .post-header {
    background: $background-black;
    margin-bottom: 0px;
    color: $white;
    h1 {
      margin-bottom: 0px;
    }
  }
  .post-content {
    background: $white;
    padding: 15px;
    margin-top: -12px;
  }

  .post-footer {
    color: $white;
    font-weight: bolder;
    font-variant: small-caps;
  }
}

.site-footer {
  .icon > svg {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
