<h1> Leisure Living </h1>
<p>Life is truly a walk in a park in Solen Residences, a family centric neighbourhood with unique leisure amenities designed for family bonding and community convergence.</p>

<ul>
  <li> Clubhouse complex <small>(Designed by Leandro V. Locsin & Partners)</small></li>
  <li> Children's Pavilion </li>
  <li> Swimming pools <small>(adult pool with lap pool & kiddie pool)</small></li>
  <li> Nature park </li>
  <li> Retention Lake </li>
  <li> Nature Trail <small>for jogging & biking</small></li>
  <li> Picnic grounds </li>
  <li> View corridors </li>
</ul>
