<footer class="site-footer">
  <div class="row">
    <div class="col-md-7">
      <div class="container-fluid">
        <div class="col-md-12">
          <h2 class="title">
            Solen Residences
            <small>Come and play!</small>
          </h2>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li>Home</li>
            <li>About Solen</li>
            <li>Discover Solen</li>
            <li>Amenities</li>
            <li>Vicinity</li>
            <li>Buying Basics/FAQ</li>
            <li>Contact Us</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h5><strong>Advertisements</strong></h5>
          <ul class="list-unstyled">
            <li>Brochure</li>
            <li>Flyer (1)</li>
            <li>Flyer (2)</li>
            <li>Print Ad</li>
            <li>Advertorial</li>
            <li>Gallery</li>
          </ul>
        </div>

        <div class="col-md-4">
          <h5><strong>Maps</strong></h5>
          <ul class="list-unstyled">
            <li>Sales Map</li>
            <li>Vicinity Map</li>
            <li>Village Map</li>
            <li>Greenfield City Map</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-4">
      <div class="container-fluid">
        <a href="http://www.greenfield.com.ph" target="_blank">
          <img
            src=/assets/images/solen-demo/greenfield-logo.png
            class="logo"
            alt="greenfield-logo"/>
        </a>
        <br/>
        <address>
          <strong>Greenfield Corporate Center</strong> <br/>
          88 United St.<br/>
          Mandaluyong City <br/>
          Philippines <br/> <br/>
          <abbr title="Phone"><span class="glyphicon glyphicon-phone-alt"></span></abbr> +632 53 GREEN (47336)<br/>
          <abbr title="Mobile"><span class="glyphicon glyphicon-phone"></span></abbr> +63 917 GREEN (47336)<br/>
          <abbr title="Email"><span class="glyphicon glyphicon-envelope"></span></abbr><a href="mailto:solen@greenfield.com.ph"> solen@greenfield.com.ph</a>
          <br/>
          <abbr title="Facebook">
            <a href="https://www.facebook.com/solen.residences" target="_blank">
              {% include solen-demo/facebook-icon.html %}
            </a>
          </abbr><a href="https://www.facebook.com/solen.residences" target="_blank"> solen.residences </a><br/>
          <abbr title="Instagram">
            <a href="https://instagram.com/solenresidences" target="_blank">
              {% include solen-demo/instagram-icon.html %}
            </a>
          </abbr><a href="https://instagram.com/solenresidences" target="_blank"> @solenresidences</a><br/>
        </address>
      </div>
    </div>
  </div>

  <div class="row-fluid padding-bottom-0">
    <div class="col-md-12 copyright">
      <div class="container-fluid">
        <p class="text-center"><small>Copyright &#169 2015 Greenfield Development Corporation. All rights reserved.</small></p>
      </div>
    </div>
  </div>

</footer>

