<div class="container-fluid">
  <ul class="list-inline list-unstyled" role="navigation">
      <li>
        <a href="{{ site.baseurl }}/" class="navbar-brand">
          {{ site.title }}<span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/" class="navbar-brand">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="page-link navbar-brand" href="{{ site.baseurl }}/blog" >Blog</a>
      </li>
      <li>
        <a class="page-link navbar-brand" href="{{ site.baseurl }}/about">About</a>
      </li>
  </ul>
</div>
