<div class="container-fluid">
  <ul class="list-inline list-unstyled" role="navigation">
      <li>
        <a href="{{ site.baseurl }}/" class="page-link navbar-brand"><h2><span class="glyphicon glyphicon-home"></span> Home</h2></a>
      </li>
      <li>
        <a class="page-link navbar-brand" href="{{ site.baseurl }}/blog" ><h2><span>{% include svg/notebook.html %}</span> Blog</h2></a>
      </li>
      <li>
        <a class="page-link navbar-brand" href="{{ site.baseurl }}/about"><h2><span>{% include svg/girl.html %}</span> About</h2></a>
      </li>
      <li>
        <a class="page-link navbar-brand" href="{{ site.baseurl }}/contact"><h2><span>{% include svg/contact.html %}</span> Contact</h2></a>
      </li>
  </ul>
</div>
