<footer class="mdl-mini-footer mdl-mini-footer--scroll">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      <i class="flaticon-rocket72"></i>
    </div>
    <ul class="mdl-mini-footer__link-list links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="mdl-mini-footer__right-section social">
    Copyright &#169 2015 <a href="https://erikathea.com">erikathea.com </a>
    |
    <a href="mailto:hello@erikathea.com"><span class="flaticon-email99"></span></a>
  </div>

</footer>
