<header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
  </div>

  <div class="mdl-layout-title center text-center">
      <img src="{{ "/assets/images/erikathea-595x595.jpg" | prepend: site.baseurl }}" / alt="banner" width="190">
      <br/>
      <blockquote>I hear echoes of unsaid words.<br/>I feel the flow of suppressed feelings.<br/>I see the beauty of the broken promises.</blockquote>
      <h6><i>- erikathea.com, 2011</i></h6>
      <hr/>

      <div class="mdl-layout__header-row banner">
        <nav class="mdl-navigation center">
            <a class="mdl-navigation__link" href="/">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">home</i>
              </button>
              Home
            </a>
            <a class="mdl-navigation__link" href="/about">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">account_circle</i>
              </button>
              About
            </a>
            <a class="mdl-navigation__link" href="/blog">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">speaker_notes</i>
              </button>
              Blog
            </a>
            <a class="mdl-navigation__link" href="/contact">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">perm_phone_msg</i>
              </button>
              Contact
            </a>
        </nav>
      </div>

      <hr/>
  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">erikathea.com</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">home</i>
              </button>
              Home
            </a>
            <a class="mdl-navigation__link" href="/about">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">account_circle</i>
              </button>
              About
            </a>
            <a class="mdl-navigation__link" href="/blog">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">speaker_notes</i>
              </button>
              Blog
            </a>
            <a class="mdl-navigation__link" href="/contact">
              <button class="mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">perm_phone_msg</i>
              </button>
              Contact
            </a>
  </nav>
</div>
