
    <div class='jumbotron'>

      <h1 class='text-center'>Code Travel {% include svg/static-object.html %}</h1>
      <h4 class='text text-center'>Space of Erika Thea</h4>
      <h5 class='text text-center'><a href="mailto:{{ site.email }}">{{ site.email }}</a></h5>
      <ul class='list-inline text text-center'>
        <li><a href='#dev' class='btn btn-danger'>Dev</a></li>
        <li><a href='#backpacker' class='btn btn-primary'>Backpacker</a></li>
        <li><a href='#storyteller' class='btn btn-warning'>Storyteller</a></li>
        <li><a href='#dreamer' class='btn btn-info'>Dreamer</a></li>
      </ul>
      <br/>
      <h6 class='text-center'>*Scroll down to land the UFO*</h6>
    </div>




