<div class="container-fluid">
  <ul class="list-inline list-unstyled" role="navigation">
      <li>
        <a href="{{ site.baseurl }}/" class="brand btn btn-link" id="brand">
          <strong>{{ site.title }}<span class="sr-only"> (current)</strong></span>
        </a>
      </li>
      <!-- <li>
        <a href="{{ site.baseurl }}/" class="btn btn-link"><strong>Home <span class="sr-only">(current)</span></strong></a>
      </li>
      <li>
        <a class="page-link btn btn-link" href="{{ site.baseurl }}/blog" ><strong>Blog</strong></a>
      </li>
      <li>
        <a class="page-link btn btn-link" href="{{ site.baseurl }}/about"><strong>About</strong></a>
      </li> -->
  </ul>
</div>
