{% include svg/path.html %}

<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/skrollr.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/skrollr.path.min.js"></script>

<!--[if lt IE 9]>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/skrollr.ie.min.js"></script>
<![endif]-->

<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/index/banner.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/index/parallax.js"></script>
