<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="container-fluid">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header">
      {% include navbar.html %}
    </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include index/scripts.html %}

  </body>

</html>
