<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header">
      <nav class="navbar navbar-fixed-bottom" >
        {% include index/navbar.html %}
      </nav>
    </header>

    <div id="skrollr-body">
      {% include svg/fly-object.html %}
      {% include svg/static-object.html %}

      <header id="site-banner">
        <div class="banner"
          data-center="background-position: 50% 0px;"
          data-top-bottom="background-position: 50% -100px;"
          data-anchor-target="#site-banner"
        >
          {% include index/banner.html %}
        </div>
      </header>

      <div class="page-content" role="main">
        {{ content }}
      </div>

      {% include index/scripts.html %}
      {% include index/skrollr.html %}

      <hr/>
    </div>
  </body>

</html>
