<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header class="site-header">
      {% include navbar.html %}
    </header>

    <div id="skrollr-body">
      {% include fly-object.html %}
      {% include static-object.html %}

      <header class="container">
        <div class="row-fluid">
          {% include banner.html %}
        </div>
      </header>

      <div class="page-content" role="main">
          <div class="container">
            <div class="row">
              {{ content }}
            </div>
          </div>
      </div>

      {% include scripts.html %}
      {% include navigation.html %}

      <hr/>
    </div>
  </body>

</html>
