<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include index/head.html %}

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header">
      {% include navbar.html %}
    </header>

    <div id="skrollr-body">
      <!-- {% include index/fly-object.html %}
      {% include index/static-object.html %} -->

      <header>
        <div class="banner">
          {% include index/banner.html %}
        </div>
      </header>

      <div class="page-content" role="main">
          <div class="container">
            <div class="row">
              {{ content }}
            </div>
          </div>
      </div>

      {% include index/scripts.html %}
      {% include index/skrollr.html %}

      <hr/>
    </div>
  </body>

</html>
