---
layout: default
---
<div class="post">

  <header class="post-header col-md-12 col-xs-12">
    <h1 class="post-title">
      {{ page.title }}

      <small class="pull-right">
        <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} •</span>
      </small>
    </h1>

  </header>

  <article class="post-content col-md-12 col-xs-12">
    {{ content }}
  </article>

  <footer class="post-footer col-md-12 col-xs-12">
    <p class="post-categories">
      {% if page.categories %} {{ page.categories | array_to_sentence_string }} {% endif %}
    </p>
    <p class="post-tags">
      {% if page.tags %} {{ page.tags | array_to_sentence_string }} {% endif %}
    </p>
  </footer>

</div>
