---
layout: default
---
<div class="post">

  <header class="post-header col-md-12 col-xs-12 page-header">
    <h1 class="post-title text-right">
      {{ page.title }}
    </h1>
  </header>

  <article class="post-content col-md-12 col-xs-12">
    <small class="pull-right label label-success">
      <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</span>
    </small>
    <br/>
    {{ content }}
  </article>

  <footer class="post-footer col-md-12 col-xs-12">
    <ul class="post-categories list-unstyled list-inline">
      {% if page.categories %}
        {% for category in page.categories %}
          <li><span class="label label-default">
            {{ category }}
          </span></li>
        {% endfor %}
      {% endif %}
    </ul>
    <ul class="post-tags list-unstyled list-inline">
      {% if page.tags %}
        {% for tag in page.tags %}
          <li><span class="label label-default">
            {{ tag }}
          </span></li>
        {% endfor %}
      {% endif %}
    </ul>
  </footer>

</div>
